# Fichiers Unity à ignorer
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Cache Unity et fichiers de configuration utilisateur
*.csproj
*.sln
*.unityproj
*.swp
*.pidb
*.suo
*.user
*.booproj
*.svd

# Fichiers spécifiques à Visual Studio
.vscode/
*.log
*.sln

# Fichiers de versionnage Unity Collab
.collab/

# Fichiers de version Unity
*.unitypackage
